.details {
  margin: 20px;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(0 0 0 / 90%), rgba(34, 33, 33, 0.35)),
    url(../assets/images/upload.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffc107;
}

.filters {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: black; /* Added text color */
}

.filters label,
.filters select {
  display: block;
  margin-bottom: 10px;
  color: #333; 
  font-size: 16px;/* Adjusted text color */
}

.filters select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.fetch-button {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(224, 208, 25);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fetch-button:hover {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 15px;
  color: #333; /* Adjusted text color */
}

table th {
  background-color: black;
  color: #fff;
}

table tr {
  background-color: gold;
  color: black;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  background-color: rgb(224, 208, 25);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  color: black;
}

.pagination p {
  margin: 0;
  font-size: 16px;
  color: #ddd;
}

